<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about the system</title>
</head>
<body>
<section>
  <h1>About the System</h1>
  <p>The Light Alert System improves driver safety by detecting traffic lights in real-time.</p>
  <h4>Key features include:</h4>
  <ul>
    <li>Real-time traffic light detection.</li>
    <li>Alerts for speeding towards a red light.</li>
    <li>Secure user registration and login.</li>
    <li>Cloud storage for video recording.</li>
    <li>High-quality dash cam functionality.</li>
  </ul>
</section>
<a href="/">Return to Main Page</a>
</body>
</html>