<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
</head>
<body>

<header>
    <h1>Contact Info</h1>
</header>

<section>
    <h4>Our Team's Contact </h4>
    <ul>
        <li>ALIABDOLLAHIAN@cmail.carleton.ca</li>
        <li>YALLINIDESHPANDE@cmail.carleton.ca</li>
        <li>NAVIDSARWAR@cmail.carleton.ca</li>
        <li>MAHMOUDCHAABAN@cmail.carleton.ca</li>
    </ul>

    <a href="/">Return to Main Page</a>
</section>

</body>
</html>
