<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Create new account</title>
</head>
<p>Already have an account? <a href="./login">Log in</a></p>
<body>
<header> <h1>Sign up</h1> </header>

<form action="/signup" method="POST">

<p></p>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email address" required>

<p>
</p>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Enter your password" required>

    <p>
    </p>
    <button type="submit">Sign Up</button>
</form>


<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<p>
</p>
<footer>
<a href="/">Return to Homepage</a>
</footer>
</body>
</html>
